<div class="localStream" ng-controller="LocalStreamController">
	<p><%= username %>: <input ng-model="name"/></p>
	<video id="localVideo" muted="muted" autoplay="true"></video>
	<li ng-click="toggleCam()">
		<a href>{{ cameraIsOn ? 'Stop' : 'Start' }}</a>
	</li>
	<div ng-show="cameraIsOn">		
		<p><%= share %>:</p>
		<a>{{ link }}</a>
	</div>
</div>